<div style="width: 1440px; height: 1024px; position: relative; background: #F2F8FD">
  <div style="width: 293px; height: 1025px; left: 0px; top: 0px; position: absolute; background: #0447B8">
    <div style="width: 268px; height: 568px; left: 25px; top: 146px; position: absolute">
      <div style="width: 267px; height: 50px; left: 6px; top: 90px; position: absolute">
        <div style="width: 267px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 12px"></div>
        <div style="width: 22px; height: 22px; left: 10px; top: 14px; position: absolute">
          <div style="width: 19px; height: 19px; left: 0px; top: 3px; position: absolute; background: #FF9839"></div>
          <div style="width: 10px; height: 10px; left: 12px; top: 0px; position: absolute; background: #FF9839"></div>
        </div>
        <div style="width: 109px; height: 20px; left: 51px; top: 14px; position: absolute; color: #F2F8FD; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Reports</div>
      </div>
      <div style="width: 267px; height: 50px; left: 2px; top: 180px; position: absolute">
        <div style="width: 267px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 12px"></div>
        <div style="width: 118px; left: 53px; top: 13px; position: absolute; color: #F2F8FD; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Goals</div>
        <div style="width: 22px; height: 22px; left: 12px; top: 14px; position: absolute">
          <div style="width: 22px; height: 19.25px; left: -0px; top: 1.83px; position: absolute; background: #FF9839"></div>
        </div>
      </div>
      <div style="width: 267px; height: 50px; left: 1px; top: 270px; position: absolute">
        <div style="width: 267px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 12px"></div>
        <div style="width: 125px; height: 28px; left: 15px; top: 13px; position: absolute">
          <div style="width: 24px; height: 24px; padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 18px; height: 20px; background: #FF9839"></div>
          </div>
          <div style="width: 86px; left: 39px; top: 4px; position: absolute; color: #F2F8FD; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Reminders</div>
        </div>
        <div style="width: 16px; height: 16px; padding: 3.33px; left: 190px; top: 17px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 9.33px; height: 9.33px; position: relative">
            <div style="width: 0px; height: 9.33px; left: 4.67px; top: 0px; position: absolute; border: 2px #6E7191 solid"></div>
            <div style="width: 9.33px; height: 0px; left: 0px; top: 4.67px; position: absolute; border: 2px #6E7191 solid"></div>
          </div>
        </div>
        <div style="width: 24px; height: 24px; left: 225px; top: 13px; position: absolute">
          <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #F3C294; border-radius: 5px; border: 1px #F3C294 solid"></div>
          <div style="left: 7px; top: 2px; position: absolute; color: black; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word">6</div>
        </div>
      </div>
      <div style="width: 212px; height: 50px; left: 1px; top: 0px; position: absolute">
        <div style="width: 212px; height: 50px; left: 0px; top: 0px; position: absolute; opacity: 0.10; background: #7A40F2; border-radius: 12px"></div>
        <div style="width: 131px; left: 15px; top: 10px; position: absolute">
          <div style="width: 24px; height: 24px; padding-top: 2.32px; padding-bottom: 3px; padding-left: 1.48px; padding-right: 1.50px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 21.02px; height: 18.68px; background: #FF9839"></div>
          </div>
          <div style="width: 92px; height: 15px; left: 39px; top: 4px; position: absolute; color: #F2F8FD; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Dashboard</div>
        </div>
      </div>
      <div style="padding-top: 11px; padding-bottom: 13px; padding-left: 23px; padding-right: 145px; left: -3px; top: 360px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 99px; align-self: stretch; padding-right: 2px; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
          <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 19.09px; height: 20px; background: #FF9839"></div>
          </div>
          <div style="color: #F2F8FD; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 26px; word-wrap: break-word">Settings</div>
        </div>
      </div>
    </div>
    <div style="padding-top: 15px; padding-bottom: 6px; padding-left: 6.12px; padding-right: 16px; left: 31px; top: 29px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 20.78px; display: inline-flex">
      <img style="width: 28.10px; height: 31px" src="https://via.placeholder.com/28x31" />
      <div style="width: 136px; height: 37px"><span style="color: white; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Fundus</span><span style="color: #FF9839; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">AI</span></div>
    </div>
    <div style="width: 92px; left: 44px; top: 955px; position: absolute">
      <div style="left: 31px; top: 0px; position: absolute; color: #FF9839; font-size: 16px; font-family: Avenir; font-weight: 500; line-height: 26px; letter-spacing: 0.75px; word-wrap: break-word">Log out</div>
      <div style="width: 20px; height: 20px; left: 0px; top: 3px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 8.33px; height: 8.33px; background: #FF9839"></div>
        <div style="width: 8.33px; height: 6.67px; background: #FF9839"></div>
        <div style="width: 15px; height: 7.50px; background: #FF9839"></div>
      </div>
    </div>
  </div>
  <div style="width: 754px; height: 172px; left: 338px; top: 150px; position: absolute; background: #0447B8; border-radius: 10px"></div>
  <div style="width: 192px; left: 338px; top: 89px; position: absolute; color: #8F92A1; font-size: 18px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Malquee Hospital</div>
  <div style="width: 206px; left: 617px; top: 372px; position: absolute; color: rgba(0, 7.97, 47.81, 0.65); font-size: 24px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Make Diagnosis</div>
  <div style="width: 307px; height: 1024px; left: 1135px; top: 0px; position: absolute; background: white"></div>
  <div style="width: 307px; height: 95px; left: 1159px; top: 413px; position: absolute">
    <div style="left: 0px; top: 36px; position: absolute; color: #93B0C8; font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Mon</div>
    <div style="left: 43px; top: 36px; position: absolute; color: #93B0C8; font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Tues</div>
    <div style="width: 41px; height: 74px; left: 83px; top: 21px; position: absolute; background: rgba(63, 189, 241, 0.10); border-radius: 20px"></div>
    <div style="left: 89px; top: 36px; position: absolute; color: #3FBDF1; font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Wed</div>
    <div style="left: 134px; top: 36px; position: absolute; color: #93B0C8; font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Thu</div>
    <div style="left: 173px; top: 36px; position: absolute; color: #93B0C8; font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Fri</div>
    <div style="left: 204px; top: 36px; position: absolute; color: #93B0C8; font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Sat</div>
    <div style="left: 240px; top: 36px; position: absolute; color: #93B0C8; font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Sun</div>
    <div style="left: 279px; top: 36px; position: absolute; color: rgba(147.45, 175.80, 200.37, 0.37); font-size: 13px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Mon</div>
    <div style="left: 8px; top: 64px; position: absolute; color: #59748A; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">9</div>
    <div style="left: 50px; top: 64px; position: absolute; color: #59748A; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">10</div>
    <div style="left: 97px; top: 64px; position: absolute; color: #3FBDF1; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">11</div>
    <div style="width: 4px; height: 4px; left: 110px; top: 64px; position: absolute; background: #71DDB1; border-radius: 9999px"></div>
    <div style="left: 138px; top: 64px; position: absolute; color: #59748A; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">12</div>
    <div style="left: 173px; top: 64px; position: absolute; color: #59748A; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">13</div>
    <div style="width: 4px; height: 4px; left: 189px; top: 64px; position: absolute; background: #F3C294; border-radius: 9999px"></div>
    <div style="left: 207px; top: 64px; position: absolute; color: #59748A; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">14</div>
    <div style="left: 244px; top: 64px; position: absolute; color: #59748A; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">15</div>
    <div style="left: 285px; top: 64px; position: absolute; color: rgba(89.13, 115.81, 137.89, 0.33); font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">16</div>
    <div style="width: 9px; height: 6px; left: 52px; top: 8px; position: absolute; background: #93B0C8"></div>
    <div style="left: 0px; top: 0px; position: absolute; color: #59748A; font-size: 15px; font-family: Poppins; font-weight: 700; word-wrap: break-word">March</div>
    <div style="left: 165px; top: 0px; position: absolute">
      <div style="left: 19px; top: 0px; position: absolute; color: #0447B8; font-size: 12px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Add reminder</div>
      <div style="width: 14px; height: 14px; left: 0px; top: 1px; position: absolute; background: #0447B8"></div>
    </div>
  </div>
  <div style="width: 191px; height: 46px; left: 1181px; top: 15px; position: absolute">
    <div style="width: 24px; height: 24px; left: 64px; top: 11px; position: absolute">
      <div style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute; border: 2px #8B8C8C solid"></div>
      <div style="width: 6px; height: 6px; left: 9px; top: 9px; position: absolute; border: 2px #8B8C8C solid"></div>
    </div>
    <div style="width: 46px; height: 46px; left: 145px; top: 0px; position: absolute">
      <div style="width: 46px; height: 46px; left: 0px; top: 0px; position: absolute; background: #EAEEFD; border-radius: 10px"></div>
      <img style="width: 32px; height: 32px; left: 7px; top: 7px; position: absolute; border-radius: 50px" src="https://via.placeholder.com/32x32" />
    </div>
    <div style="width: 24px; height: 24px; left: 0px; top: 11px; position: absolute">
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
        <div style="width: 16px; height: 18px; left: 4px; top: 3px; position: absolute; border: 2px #8B8C8C solid"></div>
      </div>
      <div style="width: 12px; height: 10px; left: 12px; top: 3px; position: absolute">
        <div style="width: 10px; height: 10px; left: 1px; top: 0px; position: absolute">
          <div style="width: 10px; height: 10px; left: 0px; top: 0px; position: absolute; background: #FF0000; border-radius: 9999px"></div>
        </div>
        <div style="width: 12px; left: 0px; top: 1px; position: absolute; text-align: center; color: white; font-size: 6px; font-family: DM Sans; font-weight: 700; word-wrap: break-word">1</div>
      </div>
    </div>
  </div>
  <div style="width: 16.86px; height: 18.53px; left: 1378px; top: 898px; position: absolute; opacity: 0.20">
    <img style="width: 12.64px; height: 3.09px; left: 2.11px; top: 7.72px; position: absolute" src="https://via.placeholder.com/13x3" />
  </div>
  <div style="width: 182px; height: 61px; left: 1159px; top: 609px; position: absolute">
    <div style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute">
      <div style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute; background: rgba(113, 221, 177, 0.11); border-radius: 8px"></div>
      <div style="width: 20px; height: 20px; left: 8px; top: 8px; position: absolute">
        <div style="width: 12.25px; height: 14px; left: 5px; top: 4px; position: absolute; background: #71DDB1"></div>
      </div>
    </div>
    <div style="left: 47px; top: 0px; position: absolute; color: #858585; font-size: 12px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Health appointment  </div>
    <div style="width: 85px; left: 47px; top: 22px; position: absolute; color: #858585; font-size: 12px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Mr Dok tomm</div>
    <div style="width: 136px; left: 46px; top: 46px; position: absolute; color: #9E9E9E; font-size: 10px; font-family: Poppins; font-weight: 300; word-wrap: break-word">09:20AM - 11:30</div>
  </div>
  <div style="width: 197px; height: 37px; left: 1159px; top: 708px; position: absolute">
    <div style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute">
      <div style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute; background: rgba(113, 221, 177, 0.10); border-radius: 8px"></div>
      <div style="width: 20px; height: 20px; left: 8px; top: 8px; position: absolute">
        <div style="width: 12.25px; height: 14px; left: 5px; top: 4px; position: absolute; background: #7A40F2"></div>
      </div>
    </div>
    <div style="left: 48px; top: 0px; position: absolute; color: #858585; font-size: 12px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Meeting with Tok Dalang</div>
    <div style="left: 48px; top: 22px; position: absolute; color: #9E9E9E; font-size: 10px; font-family: Poppins; font-weight: 300; word-wrap: break-word">07:00AM</div>
    <div style="left: 99px; top: 22px; position: absolute; color: #FFAD47; font-size: 10px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Due Soon</div>
  </div>
  <div style="width: 261px; height: 0px; left: 1164px; top: 681px; position: absolute; border: 1px #EEF5FB solid"></div>
  <div style="width: 253px; height: 0px; left: 1165px; top: 528px; position: absolute; border: 1px #D4E3F0 solid"></div>
  <div style="width: 252px; height: 0px; left: 1164px; top: 793px; position: absolute; border: 1px #D4E3F0 solid"></div>
  <div style="width: 147px; left: 1159px; top: 560px; position: absolute; color: #59748A; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Upcoming</div>
  <div style="width: 320px; left: 783px; top: 26px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 320px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 320px; height: 45px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 7px; border: 1px solid; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div style="width: 15px; height: 15px; position: relative">
          <div style="width: 14px; height: 14px; left: 0.50px; top: 0.50px; position: absolute; border: 1px #1D1929 solid"></div>
        </div>
        <div style="flex: 1 1 0; height: 40px; padding-left: 8px; padding-right: 8px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="align-self: stretch; height: 16px; color: #A5A3A9; font-size: 14px; font-family: Nunito Sans; font-weight: 400; line-height: 16.24px; word-wrap: break-word">Search any keywords</div>
        </div>
        <div style="width: 15px; height: 15px; position: relative">
          <div style="width: 10px; height: 14.50px; left: 2.50px; top: 0.50px; position: absolute; border: 1px #A5A3A9 solid"></div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 263px; height: 219px; left: 1159px; top: 153px; position: absolute; background: #F7FBFF; border-radius: 15.01px; overflow: hidden">
    <div style="left: 67.19px; top: 70px; position: absolute; color: #0447B8; font-size: 18.02px; font-family: Poppins; font-weight: 600; line-height: 24.02px; word-wrap: break-word">Charles Okosun</div>
    <div style="left: 58px; top: 94px; position: absolute; color: #A3AED0; font-size: 12px; font-family: Poppins; font-weight: 400; word-wrap: break-word">65 years old</div>
    <div style="width: 46px; height: 46px; left: 106px; top: 19px; position: absolute; background: #EAEEFD; border-radius: 10px"></div>
    <img style="width: 32px; height: 32px; left: 113px; top: 26px; position: absolute; border-radius: 50px" src="https://via.placeholder.com/32x32" />
    <div style="left: 142px; top: 97px; position: absolute; justify-content: center; align-items: center; gap: 5.26px; display: inline-flex">
      <div style="width: 7.66px; height: 10.94px; position: relative">
        <div style="width: 7.66px; height: 10.94px; left: 0px; top: 0px; position: absolute; background: #A3AED0"></div>
        <div style="width: 2.73px; height: 2.73px; left: 2.46px; top: 2.46px; position: absolute; background: #A3AED0"></div>
      </div>
      <div style="color: #A3AED0; font-size: 10.51px; font-family: Poppins; font-weight: 500; line-height: 18.02px; word-wrap: break-word">Abuja, Nigeria</div>
    </div>
    <div style="width: 214px; height: 55px; left: 28px; top: 145px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 1px; height: 54.25px; opacity: 0.60; border: 1px #D4E3F0 solid"></div>
      <div style="width: 1px; height: 54.25px; opacity: 0.60; border: 1px #D4E3F0 solid"></div>
      <div style="color: #85A5C2; font-size: 12px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Blood</div>
      <div style="color: #85A5C2; font-size: 12px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Height</div>
      <div style="color: #85A5C2; font-size: 12px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Weight</div>
      <div style="color: #85A5C2; font-size: 16px; font-family: Poppins; font-weight: 700; word-wrap: break-word">O+</div>
      <div style="color: #85A5C2; font-size: 16px; font-family: Poppins; font-weight: 700; word-wrap: break-word">186cm</div>
      <div style="color: #85A5C2; font-size: 16px; font-family: Poppins; font-weight: 700; word-wrap: break-word">90kg</div>
    </div>
    <div style="width: 1px; height: 14px; left: 136px; top: 96px; position: absolute; opacity: 0.80; border: 1px #D4E3F0 solid"></div>
  </div>
  <div style="width: 289px; height: 46px; left: 483px; top: 172px; position: absolute"><span style="color: #CED5DC; font-size: 23px; font-family: Poppins; font-weight: 400; line-height: 53.50px; word-wrap: break-word">Hello</span><span style="color: #FF9839; font-size: 23px; font-family: Poppins; font-weight: 500; line-height: 53.50px; word-wrap: break-word"> </span><span style="color: #FF9839; font-size: 23px; font-family: Poppins; font-weight: 600; line-height: 53.50px; word-wrap: break-word">Dr Hassan</span><span style="color: white; font-size: 23px; font-family: Poppins; font-weight: 500; line-height: 53.50px; word-wrap: break-word">,</span></div>
  <div style="width: 322px; height: 39px; left: 482px; top: 223px; position: absolute; color: #F2F8FD; font-size: 13px; font-family: Poppins; font-weight: 400; line-height: 19.50px; word-wrap: break-word">Have a nice day and don’t forget to take care of your health!</div>
  <div style="left: 484px; top: 279px; position: absolute">
    <div style="left: 0px; top: 0px; position: absolute; color: #F2F8FD; font-size: 10px; font-family: Poppins; font-weight: 800; line-height: 20px; word-wrap: break-word">Learn More</div>
    <div style="width: 10.25px; height: 5.54px; left: 65.35px; top: 16px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #F2F8FD; border: 0.50px #F2F8FD solid"></div>
  </div>
  <div style="width: 237.84px; height: 136px; left: 737px; top: 428px; position: absolute">
    <div style="width: 237.84px; height: 136px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 70px; height: 70px; left: 84px; top: 33px; position: absolute">
      <div style="width: 70px; height: 46.67px; left: -0px; top: 11.67px; position: absolute; background: #8F92A1"></div>
    </div>
  </div>
  <img style="width: 84px; height: 217px; left: 368px; top: 117px; position: absolute" src="https://via.placeholder.com/84x217" />
  <div style="width: 237.84px; height: 136px; left: 468px; top: 428px; position: absolute">
    <div style="width: 237.84px; height: 136px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 70px; height: 70px; left: 84px; top: 33px; position: absolute">
      <div style="width: 58.33px; height: 52.50px; left: 5.83px; top: 5.83px; position: absolute; background: #8F92A1"></div>
    </div>
  </div>
  <div style="width: 13px; height: 18.18px; left: 506px; top: 92px; position: absolute">
    <div style="width: 13px; height: 18.18px; left: 0px; top: 0px; position: absolute; background: black"></div>
    <div style="width: 13px; height: 18.18px; left: 0px; top: -0px; position: absolute">
      <div style="width: 2.04px; height: 4.37px; left: 9.53px; top: 1.48px; position: absolute; background: #419F99"></div>
      <div style="width: 3.75px; height: 3.34px; left: 7.68px; top: 14.84px; position: absolute; background: #419F99"></div>
      <div style="width: 3.95px; height: 0.37px; left: 7.68px; top: 14.65px; position: absolute; background: #328793"></div>
      <div style="width: 13px; height: 11.28px; left: 0px; top: 0px; position: absolute; background: #419F99"></div>
      <div style="width: 13px; height: 5.92px; left: 0px; top: 8.78px; position: absolute; background: #419F99"></div>
    </div>
  </div>
  <div style="width: 505px; height: 277px; left: 338px; top: 614px; position: absolute">
    <div style="width: 505px; height: 277px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 497px; height: 277px; position: relative">
        <div style="width: 505px; height: 277px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
        <div style="width: 25px; height: 16px; left: 46px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Jan</div>
        <div style="width: 13.78px; left: 16.53px; top: 196px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">10</div>
        <div style="width: 13.78px; left: 16.53px; top: 161px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">20</div>
        <div style="width: 13.78px; left: 16.53px; top: 124px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">30</div>
        <div style="width: 13.78px; left: 16.53px; top: 89px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">40</div>
        <div style="width: 13.78px; left: 16.53px; top: 58px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">50</div>
        <div style="width: 21px; height: 16px; left: 96px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Feb</div>
        <div style="width: 22px; height: 16px; left: 142px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Mar</div>
        <div style="width: 22px; height: 16px; left: 239px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">May</div>
        <div style="width: 24px; height: 16px; left: 189px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Apr</div>
        <div style="width: 21px; height: 16px; left: 287px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Jun</div>
        <div style="width: 18px; height: 16px; left: 334px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Jul</div>
        <div style="width: 24px; height: 16px; left: 377px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Aug</div>
        <div style="width: 24px; height: 16px; left: 426px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Sep</div>
        <div style="width: 19px; height: 16px; left: 475px; top: 249px; position: absolute; opacity: 0.40; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word">Oct</div>
        <div style="width: 90px; height: 22px; left: 360px; top: 17px; position: absolute">
          <div style="width: 90px; height: 22px; left: 0px; top: 0px; position: absolute; background: rgba(26, 78, 186, 0.06); border-radius: 6.11px"></div>
          <div style="width: 8.46px; height: 8.46px; left: 7.56px; top: 6.72px; position: absolute">
            <img style="width: 8.46px; height: 8.46px; left: -0px; top: -0px; position: absolute; border: 0.31px #1A4EBA solid" src="https://via.placeholder.com/8x8" />
            <div style="width: 1.43px; height: 1.43px; left: 1.90px; top: 4.75px; position: absolute; background: #1A4EBA; border-radius: 9999px"></div>
            <div style="width: 1.43px; height: 1.43px; left: 5.23px; top: 4.75px; position: absolute; background: #1A4EBA; border-radius: 9999px"></div>
          </div>
          <div style="width: 44px; height: 11px; left: 26px; top: 6px; position: absolute; color: #59748A; font-size: 7px; font-family: Poppins; font-weight: 400; line-height: 11px; letter-spacing: 0.09px; word-wrap: break-word">This month</div>
          <div style="width: 3.89px; height: 6.33px; left: 81.61px; top: 13.06px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #59748A"></div>
        </div>
      </div>
      <div style="width: 208.02px; color: #455154; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 20px; word-wrap: break-word">Testing Activity</div>
      <div style="width: 23.22px; height: 18.53px; position: relative; opacity: 0.20">
        <img style="width: 17.42px; height: 3.09px; left: 2.90px; top: 7.72px; position: absolute" src="https://via.placeholder.com/17x3" />
      </div>
      <div style="width: 495px; height: 0px; opacity: 0.10; border-radius: 71.50px"></div>
      <div style="width: 454px; height: 1px; background: #F7F7F7; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 454px; height: 1px; opacity: 0.10; border-radius: 71.50px"></div>
      </div>
      <div style="width: 454px; height: 0px; opacity: 0.10; border-radius: 71.50px"></div>
      <div style="width: 454px; height: 1px; background: #F7F7F7; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 454px; height: 1px; opacity: 0.10; border-radius: 71.50px"></div>
      </div>
      <div style="width: 454px; height: 1px; background: #F7F7F7; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 454px; height: 1px; opacity: 0.10; border-radius: 71.50px"></div>
      </div>
      <div style="width: 454px; height: 1px; background: #F7F7F7; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 454px; height: 1px; opacity: 0.10; border-radius: 71.50px"></div>
      </div>
      <div style="width: 454px; height: 1px; background: #F7F7F7; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 454px; height: 1px; opacity: 0.10; border-radius: 71.50px"></div>
      </div>
      <div style="width: 454px; height: 1px; background: #F7F7F7; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 454px; height: 1px; opacity: 0.10; border-radius: 71.50px"></div>
      </div>
    </div>
    <div style="width: 155px; height: 16px; left: 181px; top: 23px; position: absolute">
      <div style="width: 46.26px; height: 16px; left: 53.47px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 44px; height: 16px; background: rgba(0, 0, 0, 0); border-radius: 8.29px; backdrop-filter: blur(10.60px)"></div>
        <div style="width: 22px; height: 11px; color: #6F6C99; font-size: 6.86px; font-family: Poppins; font-weight: 500; letter-spacing: 0.24px; word-wrap: break-word">Steps</div>
        <div style="width: 4.57px; height: 4.57px; background: #FFC700; border-radius: 9999px"></div>
      </div>
      <div style="width: 46.26px; height: 16px; left: 108.74px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 44px; height: 16px; background: rgba(0, 0, 0, 0); border-radius: 8.29px; backdrop-filter: blur(10.60px)"></div>
        <div style="width: 36px; height: 11px; color: #6F6C99; font-size: 6.86px; font-family: Poppins; font-weight: 500; letter-spacing: 0.24px; word-wrap: break-word">Calories</div>
        <div style="width: 4.57px; height: 4.57px; background: #71DDB1; border-radius: 9999px"></div>
      </div>
      <div style="width: 44.46px; height: 16px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 42.29px; height: 16px; background: rgba(0, 0, 0, 0); border-radius: 8.29px; backdrop-filter: blur(10.60px)"></div>
        <div style="width: 25px; height: 11px; text-align: right; color: #6F6C99; font-size: 6.86px; font-family: Poppins; font-weight: 500; letter-spacing: 0.24px; word-wrap: break-word">Water</div>
        <div style="width: 4.57px; height: 4.57px; background: #1A4EBA; border-radius: 9999px"></div>
      </div>
    </div>
    <div style="width: 5px; height: 127px; left: 426px; top: 114px; position: absolute">
      <div style="width: 127px; height: 5px; left: 5px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
      <div style="width: 73px; height: 5px; left: 15px; top: 54px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
    </div>
    <div style="width: 5px; height: 35px; left: 472px; top: 206px; position: absolute">
      <div style="width: 35px; height: 5px; left: 5px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
      <div style="width: 20.12px; height: 5px; left: 15px; top: 14.88px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #4C9EEB; border-radius: 17px"></div>
    </div>
    <div style="width: 352.14px; height: 173px; left: 44px; top: 69px; position: absolute">
      <div style="width: 5px; height: 143px; left: 0px; top: 30px; position: absolute">
        <div style="width: 143px; height: 5px; left: 5px; top: -0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
        <div style="width: 35px; height: 5px; left: 15px; top: 65px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
        <div style="width: 42px; height: 5px; left: 15px; top: 100px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #4C9EEB; border-radius: 17px"></div>
      </div>
      <div style="width: 5px; height: 127px; left: 52px; top: 45px; position: absolute">
        <div style="width: 103px; height: 5px; left: 5px; top: 24px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
        <div style="width: 50px; height: 5px; left: 15px; top: 77px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
      </div>
      <div style="width: 5px; height: 40px; left: 101px; top: 133px; position: absolute">
        <div style="width: 40px; height: 5px; left: 5px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
        <div style="width: 22.99px; height: 5px; left: 15px; top: 17.01px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
      </div>
      <div style="width: 5px; height: 127px; left: 147px; top: 46px; position: absolute">
        <div style="width: 47px; height: 5px; left: 5px; top: 80px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
        <div style="width: 47px; height: 5px; left: 5px; top: 33px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #4C9EEB; border-radius: 17px"></div>
        <div style="width: 73px; height: 5px; left: 15px; top: 54px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
      </div>
      <div style="width: 5px; height: 127px; left: 196px; top: 45px; position: absolute">
        <div style="width: 102px; height: 5px; left: 5px; top: 25px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
        <div style="width: 73px; height: 5px; left: 15px; top: 54px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
      </div>
      <div style="width: 5px; height: 60px; left: 243px; top: 112px; position: absolute">
        <div style="width: 60px; height: 5px; left: 5px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #4C9EEB; border-radius: 17px"></div>
        <div style="width: 34.49px; height: 5px; left: 15px; top: 25.51px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
      </div>
      <div style="width: 5px; height: 172px; left: 289px; top: 0px; position: absolute">
        <div style="width: 172px; height: 5px; left: 5px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
        <div style="width: 73px; height: 5px; left: 15px; top: 99px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
      </div>
      <div style="width: 16.45px; height: 138px; padding-top: 11px; padding-left: 0.31px; padding-right: 11.14px; left: 335.69px; top: 35px; position: absolute; flex-direction: column; justify-content: flex-end; align-items: center; display: inline-flex">
        <div style="width: 5px; height: 127px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 99px; height: 5px; transform: rotate(90deg); transform-origin: 0 0; background: rgba(13.72, 69.04, 182.50, 0.95); border-radius: 17px"></div>
          <div style="width: 42px; height: 5px; transform: rotate(90deg); transform-origin: 0 0; background: #4C9EEB; border-radius: 17px"></div>
          <div style="width: 31px; height: 5px; transform: rotate(90deg); transform-origin: 0 0; background: #71DDB1; border-radius: 17px"></div>
        </div>
      </div>
    </div>
    <div style="width: 35.14px; height: 12px; left: 318px; top: 56px; position: absolute">
      <div style="width: 35.14px; height: 12px; left: 0px; top: 0px; position: absolute; background: linear-gradient(115deg, #FBFBFF 0%, rgba(255, 255, 255, 0.83) 100%); box-shadow: 0px 7.285714149475098px 15px rgba(255, 57.38, 223.38, 0.15); border-radius: 6.21px; backdrop-filter: blur(6.43px)"></div>
      <div style="width: 24px; height: 9px; left: 11px; top: 2px; position: absolute; color: #6F6C99; font-size: 6px; font-family: Poppins; font-weight: 400; word-wrap: break-word">50.5ltrs</div>
      <div style="width: 3.43px; height: 3.43px; left: 4.29px; top: 4.29px; position: absolute; background: #1A4FBA; border-radius: 9999px"></div>
    </div>
    <div style="width: 35.14px; height: 12px; left: 467px; top: 207px; position: absolute">
      <div style="width: 35.14px; height: 12px; left: 0px; top: 0px; position: absolute; background: linear-gradient(115deg, #FBFBFF 0%, rgba(255, 255, 255, 0.83) 100%); box-shadow: 0px 7.285714149475098px 15px rgba(255, 57.38, 223.38, 0.15); border-radius: 6.21px; backdrop-filter: blur(6.43px)"></div>
      <div style="width: 25px; height: 9px; left: 10px; top: 2px; position: absolute; color: #6F6C99; font-size: 6px; font-family: Poppins; font-weight: 400; word-wrap: break-word">5.1 steps</div>
      <div style="width: 3.43px; height: 3.43px; left: 4.29px; top: 4.29px; position: absolute; background: #4C9EEB; border-radius: 9999px"></div>
    </div>
  </div>
  <div style="width: 224px; height: 201.14px; left: 863px; top: 614.93px; position: absolute; border-radius: 10px; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 224px; height: 201.14px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 224px; height: 201.14px; position: relative">
        <div style="width: 226.55px; height: 198.50px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0); box-shadow: 0px 6.530611991882324px 13.061223983764648px rgba(46, 91, 255, 0.07); border-radius: 0.65px"></div>
        <div style="width: 224px; height: 201px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 0.65px; border: 0.65px rgba(46, 91, 255, 0.08) solid"></div>
      </div>
      <div style="width: 146.94px; height: 101.88px; position: relative">
        <div style="width: 146.26px; height: 91.76px; left: 0.33px; top: -0px; position: absolute">
          <div style="width: 146.26px; height: 91.76px; left: 0px; top: 0px; position: absolute; background: white"></div>
          <div style="width: 146.26px; height: 91.76px; left: 0px; top: 0px; position: absolute; background: white"></div>
          <div style="width: 99.70px; height: 99.27px; left: 21.05px; top: 26.51px; position: absolute; border: 15.67px #E0E7FF dotted"></div>
          <div style="width: 133.47px; height: 99.27px; left: 1.64px; top: -3.27px; position: absolute">
            <div style="width: 133.47px; height: 99.27px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div style="width: 133.47px; height: 99.27px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div style="width: 99.70px; height: 99.27px; left: 19.68px; top: 29.78px; position: absolute; border: 15.67px #3FBDF1 dotted"></div>
          </div>
          <div style="width: 89.20px; height: 88.82px; left: 26.56px; top: 31.74px; position: absolute; border: 1.31px #E0E7FF dotted"></div>
        </div>
        <div style="width: 69px; left: 39.78px; top: 61.44px; position: absolute; text-align: center; color: #59748A; font-size: 26.35px; font-family: Poppins; font-weight: 600; word-wrap: break-word">86%</div>
      </div>
      <div style="width: 162px; text-align: center; color: #6E7191; font-size: 12.80px; font-family: Poppins; font-weight: 500; line-height: 14.37px; word-wrap: break-word">You have achieved 86% of your goals this month</div>
    </div>
  </div>
</div>